


{% extends 'ecommerce/base.html' %}
 {% load static %}
 {% block content %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <section class="section-conten padding-y bg" style = "padding-top: 40px; padding-bottom: 20px;">


	<div class="container">
		<div class="row">
		{% include 'includes\dashboard_sidebar.html'%}
		<main class="col-md-9">
			  <article class="card">
				<header class="card-header">
					<strong class="d-inline-block mr-3">Edit Your Profile </strong>
				</header>
			<div class="card-body">
				<div class="row">
					<div class = 'col-md-12'>
							<form action="{% url 'change_password'%}" method = 'POST' >
								{% csrf_token %}
								
									
									
									{% comment %} <div class="form-row">
										<div class="col-sm-12">
										<label>current Password</label>
										<input type="password" name="current_password" placeholder="Current Password"  class="form-control" value="" required>
										</div>
									</div> {% endcomment %}
									<div class="form-group">
										<label for="password">current Password:</label>
										<div class="input-group">
											<input type="password" name="current_password" placeholder="Current Password" class="form-control" id="passwordInput" required>
											<div class="input-group-append">
												<span class="input-group-text" id="togglePassword">
													<i class="fa fa-eye" aria-hidden="true" id="toggleIcon"></i>
												</span>
											</div>
										</div>
									</div>
									<br>
									{% comment %} <div class="form-row">
										<div class="col-sm-12">
											<label>New Password</label>
											<input type="password" name="new_password" placeholder="Create New Password"  class="form-control" value="" required>
										</div>
									</div> {% endcomment %}
									<div class="form-group">
										<label for="password">New Password:</label>
										<div class="input-group">
											<input type="password" name="new_password" placeholder="Create New Password" class="form-control" id="passwordInput" required>
											<div class="input-group-append">
												<span class="input-group-text" id="togglePassword">
													<i class="fa fa-eye" aria-hidden="true" id="toggleIcon"></i>
												</span>
											</div>
										</div>
									</div>
									<br>
									{% comment %} <div class="form-row">
										<div class="col-sm-12">
											<label>Confirm New Password</label>
											<input type="password" name="confirm_password" placeholder="Confirm New Password"  class="form-control" value="" required>
										</div>
									</div> {% endcomment %}
									<div class="form-group">
										<label for="password">Confirm New Password:</label>
										<div class="input-group">
											<input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" id="passwordInput" required>
											<div class="input-group-append">
												<span class="input-group-text" id="togglePassword">
													<i class="fa fa-eye" aria-hidden="true" id="toggleIcon"></i>
												</span>
											</div>
										</div>
									</div>
									<br>
									
									
									<div>
										<input type="submit" value="Submit" class= "btn btn-primary">
										
									</div>
									
							</form>
						
							
			  
				  </div>
				</div> <!-- row.// -->
			</div> <!-- card-body .// -->
			
			  </article> <!-- order-group.// -->
		</main>
	  </div> <!-- row.// -->
	</div>
	
	
	</section>
	<script>
		const passwordInput = document.getElementById('passwordInput');
		const togglePassword = document.getElementById('togglePassword');
		const toggleIcon = document.getElementById('toggleIcon');
	
		togglePassword.addEventListener('click', function () {
			if (passwordInput.type === 'password') {
				passwordInput.type = 'text';
				toggleIcon.classList.remove('fa-eye');
				toggleIcon.classList.add('fa-eye-slash');
			} else {
				passwordInput.type = 'password';
				toggleIcon.classList.remove('fa-eye-slash');
				toggleIcon.classList.add('fa-eye');
			}
		});
	</script>

{% endblock content %}
